/*--------------------------------------------------------------
#Navigation
--------------------------------------------------------------*/

.post-navigation {
  margin-top: 4rem;
  display: inline-flex;
  flex-direction: column;

  &__previous {
    margin-top: 1rem;
  }
}
