/*--------------------------------------------------------------
#Scaffolding
--------------------------------------------------------------*/

html {
  font-size: $font-size__base;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family__base;
  font-weight: $font-weight__light;
  color: var(--color__text);
  -webkit-font-smoothing: var(--font-smoothing);
  background: var(--color__body);

  @media #{$breakpoint__991--max} {
    background: var(--color__wrapper);
  }
}

.site-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: $navbar__width minmax(calc(750px + 4rem), auto) 700px;
  grid-template-areas:
    "navigation content header"
    "navigation content footer";

  @media #{$breakpoint__1921--min} {
    grid-template-rows: minmax(971px, 35vw) auto;
  }

  @media #{$breakpoint__1920--max} {
    grid-template-columns: $navbar__width minmax(650px, auto) minmax(
        $navbar__width,
        auto
      );
    grid-template-areas:
      "navigation content header"
      "navigation footer footer";
  }

  @media #{$breakpoint__991--max} {
    display: block;
  }

  .site-header {
    grid-area: header;
    overflow-x: hidden;
    background-color: var(--color__wrapper);

    @media #{$breakpoint__991--max} {
      background-color: transparent;
      position: relative;
      z-index: 2;
    }

    .waves {
      fill: var(--color__highlight);
      margin-left: -1px;
      margin-right: -1px;
    }

    .bubbles {
      display: none;
    }

    @media #{$breakpoint__992--min} {
      background-color: var(--color__highlight);

      .waves {
        display: none;
      }

      .bubbles {
        display: block;
        margin-left: -1px;
        min-width: 25vw;

        &--bg,
        &--circle {
          fill: var(--color__wrapper);
        }
      }
    }
  }

  .site-navigation {
    grid-area: navigation;
    background: var(--color__body);

    @media #{$breakpoint__991--max} {
      position: relative;
      z-index: 1;
    }
  }

  .site-content {
    grid-area: content;
    background-color: var(--color__wrapper);
  }

  .site-footer {
    grid-area: footer;
  }

  .site-content,
  .site-footer {
    padding: 2rem var(--content-gap);
  }

  .site-content {
    > article:first-child {
      padding-top: 0;
    }
  }
}
@media #{$breakpoint__991--max} {
  [data-nav="left"] {
    .site-wrapper {
      margin-left: $navbar__width--mobile;
    }

    .site-header {
      margin-left: -$navbar__width--mobile;
    }
  }

  [data-nav="right"] {
    .site-wrapper {
      margin-right: $navbar__width--mobile;
    }

    .site-header {
      margin-right: -$navbar__width--mobile;
    }
  }
}

// scollbar
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--color__highlight);
}
