/*--------------------------------------------------------------
#Figures
--------------------------------------------------------------*/

figure {
  margin: 3rem 0;
}

.wp-block-image,
.wp-block-video {
  * {
    clear: both;
  }

  figcaption {
    font-size: 0.8rem;
    margin-top: $margin__base / 2;
    margin-bottom: $margin__base / 2;
    font-style: italic;
    color: inherit;
  }
}

// Image
.wp-block-image {
  > figure {
    margin: 0;
  }

  .aligncenter,
  .alignnone,
  &.alignleft,
  &.alignright,
  &.aligncenter,
  &.alignnone {
    float: none;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .alignleft,
  .alignright {
    width: auto;
    margin-top: $margin__base / 2;
    margin-bottom: $margin__base / 2;

    @media #{$breakpoint__768--min} {
      &.size-medium:not(.is-resized) {
        max-width: calc(100% / 3 - #{$margin__base / 2});
      }

      &.size-full:not(.is-resized),
      &.size-large:not(.is-resized) {
        max-width: calc(50% - #{$margin__base / 2});
      }
    }

    @media #{$breakpoint__767--max} {
      &.is-resized {
        max-width: 150px;
      }

      &.size-medium:not(.is-resized),
      &.size-large:not(.is-resized),
      &.size-full:not(.is-resized) {
        max-width: 100%;
        float: none;
        margin: 0;
      }
    }
  }

  .alignleft {
    float: left;
    margin-right: $margin__base;
  }

  .alignright {
    float: right;
    margin-left: $margin__base;
  }

  &.alignfull,
  &.alignwide {
    margin-left: calc(var(--content-gap) * -1);
    margin-right: calc(var(--content-gap) * -1);

    figcaption {
      margin-left: var(--content-gap);
    }
  }

  &.alignwide {
    max-width: calc(1200px + var(--content-gap) * 2);
  }

  &.alignfull {
    max-width: calc(100% + var(--content-gap) * 2);
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0;
  }

  .img-link {
    img {
      border: 1px solid var(--color__highlight);
    }

    &:focus {
      img {
        outline: $outline;
      }
    }
  }
}

// Video
.wp-block-video {
  video {
    display: block;
    max-width: 100%;
  }
}
