/*--------------------------------------------------------------
#Fonts
--------------------------------------------------------------*/

@font-face {
  font-family: 'Recoleta';
  src: url('../fonts/Recoleta-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

// Google Font Lato:
// https://fonts.google.com/specimen/Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
