/*--------------------------------------------------------------
#Imports
--------------------------------------------------------------*/

//Abstracts
@import "abstracts/__abstracts-dir";

//Base Styles
@import "base/__base-dir";

//Components
@import "components/__components-dir";

//Blocks
@import "blocks/__blocks-dir";

//Layout
@import "layouts/__layouts-dir";


.breadcrumbs {
  font-size: $font-size__small;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-end;

  &__item {
    &:after {
      content: "/";
      padding: 0 .5em;
      font-weight: bold;
      opacity: .25;
    }
  }
}

