/*--------------------------------------------------------------
#Factory feed
--------------------------------------------------------------*/

.factory-feed {
  color: $color__white;

  @include bob-animation(article);

  h1 {
    margin-bottom: 2rem;
  }

  &__items {
    @media #{$breakpoint__992--min} {
      display: flex;
      flex-wrap: wrap;

      article {
        max-width: 11.5rem;
        margin-right: $margin__base;
        margin-bottom: $margin__base;
      }
    }

    @media #{$breakpoint__991--max} {
      gap: $margin__base;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    article {
      position: relative;

      img {
        max-width: 100%;
        height: auto;
        display: block;
        position: relative;
        z-index: 2;
      }

      h1 {
        position: absolute;
        bottom: 0;
        margin: 0;
        font-size: $font-size__small;
      }
    }
  }
}
