/*--------------------------------------------------------------
#Footer
--------------------------------------------------------------*/

.site-footer {
  display: flex;
  flex-direction: column;

  @media #{$breakpoint__1921--min} {
    &__sticky {
      position: sticky;
      top: 0;
    }
  }

  &__copyright {
    margin: 4rem 0 0 0;
    font-size: $font-size__small;
  }
}
