/*--------------------------------------------------------------
#Footer
--------------------------------------------------------------*/

.site-footer {
  padding: 2rem 1.5rem;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;

  &__data-protection {
    align-self: end;
    justify-self: right;
  }
}
