/*--------------------------------------------------------------
#Navigation
--------------------------------------------------------------*/

.site-header {
  background: var(--color__sidepanel);

  .navbar {
    font-family: $font-family__heading;
    font-size: $font-size__h3;
    position: fixed;
    bottom: calc(#{$margin__base} - 5px);
    left: $margin__base;
    width: calc(#{$navbar--width} - 2 * #{$margin__base});

    @media (max-width: 911px) {
      position: static;
    }

    &-brand {
      border: 0;
      padding: 0;

      svg {
        height: 4rem;
        fill: var(--color__highlight);
        transition: all .15s ease-in-out;
      }

      &:hover,
      &:active {
        svg {
          fill: var(--color__text);
        }
      }
    }

    &-toggle {
      @media (min-width: 912px) {
        display: none;
      }
    }

    &-nav {
      &__link {
        border: 0;
      }
    }
  }

  ul {
    @include list--reset();
  }

  @media (max-width: 911px) {
    .navbar {
      padding: 1rem 2rem 2rem 2rem;
      position: fixed;
      z-index: 2;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: var(--color__sidepanel);
      box-shadow: $shadow__quarter;

      &-brand {
        z-index: 2;
        line-height: 0;

        svg {
          height: 1.5rem;
          width: auto;
        }
      }

      &-toggle {
        z-index: 2;
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 1rem;
        cursor: pointer;
        transition: all .15s ease-in-out;

        &:hover,
        &:active {
          color: var(--color__highlight);
        }

        &:focus {
          outline: $outline;
        }
      }

      &-nav {
        background: var(--color__sidepanel);
        box-shadow: $shadow__quarter;
        transform: translateY(calc(100% + 4.5rem));
        transition: all 0.4s ease-in-out;
        position: fixed;
        bottom: 4.5rem;
        left: 0;
        right: 0;
        width: 100%;
        text-align: center;
        padding: 2rem;
        opacity: 0;

        &.open {
          opacity: 1;
          transform: translateY(0);
        }

        &__link {
          display: block;
          margin: .5rem 0;
        }
      }
    }
  }
}
