/*--------------------------------------------------------------
#Search
--------------------------------------------------------------*/

.search-form {
  margin-top: 4rem;

  input {
    padding: .75rem 1.5rem;
    font-size: 1rem;
    border: 0;
    font-weight: $font-weight__regular;
    background: rgba(0,0,0,.4);
    color: var(--color__text);
    border-radius: 3rem;
    max-width: 100%;

    &:focus {
      outline: none;
    }

    &::-webkit-input-placeholder {
      color: var(--color__text);
      opacity: .5;
    }

    &::-moz-placeholder {
      color: var(--color__text);
      opacity: .5;
    }

    &:-ms-input-placeholder {
      color: var(--color__text);
      opacity: .5;
    }
  }
}

