/*--------------------------------------------------------------
#Box
--------------------------------------------------------------*/

.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  gap: $margin__base * 2 $margin__base;

  &__year {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li::before {
        content: none;
      }
    }
  }
}
