/*--------------------------------------------------------------
#Factory
--------------------------------------------------------------*/

.factory-list {
  color: var(--color__text);
  @include bob-animation(article);

  &__items {
    margin-top: $margin__base;
    display: grid;
    gap: $margin__base;

    @media #{$breakpoint__992--min} {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    @media #{$breakpoint__991--max} {
      grid-template-columns: 1fr 1fr;
    }
  }

  article {
    position: relative;

    img {
      max-width: 100%;
      height: auto;
      display: block;
      position: relative;
      z-index: 2;
    }

    h1 {
      position: absolute;
      bottom: 0;
      margin: 0;
      font-size: $font-size__small;
    }
  }
}
