/*--------------------------------------------------------------
#Factory
--------------------------------------------------------------*/

.factory-list {
  color: var(--color__text);
  @include bob-animation(article);
  //max-width: 1200px;

  &__list {
    margin: $margin__base 0;
    padding-bottom: 2rem;

    @media #{$breakpoint__992--min} {
      display: flex;
      flex-wrap: wrap;

      article {
        max-width: 12rem;
        margin-right: $margin__base;
        margin-bottom: $margin__base;
      }
    }

    @media #{$breakpoint__991--max} {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: $margin__base;
    }
  }

  article {
    position: relative;

    img {
      display: block;
      position: relative;
      z-index: 2;
    }

    h1 {
      position: absolute;
      bottom: 0;
      margin: 0;
      font-size: $font-size__small;
    }
  }
}
