/*--------------------------------------------------------------
#Lab
--------------------------------------------------------------*/

.lab-list__items {
  display:flex;
  flex-wrap: wrap;
  @include bob-animation(a);

  .video-link {
    position: relative;

    &__icon {
      position: absolute;
      bottom: .25rem;
      right: .5rem;
      width: 1.5rem;
      height: 1.5rem;
      z-index: 1;
      fill: $color__white;
      box-shadow: none !important;
    }
  }

  > a {
    margin-right: $margin__base;
    margin-bottom: $margin__base;
  }

  @media #{$breakpoint__767--max} {
    flex-direction: column;

    > a {
      margin-right: 0;
      margin-bottom: $margin__base;
    }
  }

  img {
    height: clamp(150px,10vw,300px);
    width: auto;
    display: block;

    @media #{$breakpoint__767--max} {
      height: auto;
    }
  }

  @supports (grid-template-rows: masonry) {
    display: grid;
    gap: $margin__base;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-template-rows: masonry;

    > a {
      margin: 0;
    }

    @media #{$breakpoint__767--max} {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    img {
      height: auto;
    }
  }
}
