/*--------------------------------------------------------------
#Storage
--------------------------------------------------------------*/

.storage {
  display: flex;
  flex-wrap: wrap;

  &__year {
    flex-grow: 0;
    flex-shrink: 0;
    width: 7.5rem;

    @media #{$breakpoint__767--max} {
      width: 5.9rem;
    }

    h2 {
      margin: 2rem 0 0 0;
    }

    ul {
      margin: 0 0 2rem 0;
      list-style: none;
      padding: 0;

      li::before {
        content: none;
      }
    }
  }
}
