/*--------------------------------------------------------------
#Article
--------------------------------------------------------------*/

.article {
  &__meta {
    font-size: $font-size__small;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;

    .posted-on,
    .tags {
      margin-right: 1.5rem;

      a {
        margin-bottom: .25rem;
        display: inline-block;
      }
    }

    @media #{$breakpoint__991--max} {
      .posted-on {
        margin-bottom: .25rem;
      }

      .tags {
        margin: 0;
      }

      .edit {
        display: none;
      }
    }
  }

  &__content {
    hr {
      width: 33%;
    }

    a[target="_blank"] {
      &::after {
        display: inline-block;
        transform: rotate(-35deg);
        content: "\293B\00A0";
        line-height: 0;
      }
    }
  }
}
