/*--------------------------------------------------------------
#Tags
--------------------------------------------------------------*/

.tags a {
  position: relative;
  margin-right: .75em;
  margin-bottom: .25em;
  display: inline-block;
  font-size: $font-size__small;

  &:last-child {
    margin-right: 0;
  }

  &:before {
    color: var(--color__text);
    content: "#";
  }

  &.active {
    color: var(--color__text);
  }
}
